/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* header styles */

.header-container {
    max-width: 1440px;
    height: 131px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.header-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    padding-left: 150px;
}

.header-container a {
    text-decoration: none;
    color: rgb(13, 19, 33);
}

.header-container button {
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.btn-download {
    padding-right: 150px;
}

/* hero banner container style */
.hero-banner-container {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    padding-top: 32px;
    padding-bottom: 24px;
    line-height: 68px;
}

.hero-banner-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 32px;

}

.hero-banner-container button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

.hero-banner-container button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* why web container style */

.why-web-container {
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

}

.why-web-content {
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    margin-top: 80px;
}

.why-web-content-head {
    width: 852px;
    height: 115px;
    margin: 0 auto;
    text-align: center;
}

.main-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 24px;
}

.main-discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.why-web-p1 {
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    gap: 98.83px;
    padding-top: 50px;
}

.why-web-p1 h4 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 48px;
    padding-bottom: 16px;

}

.why-web-p1 p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    padding-left: 48px;
    padding-bottom: 32px;
}

.why-web-p1 button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    opacity: 0.7;
    margin-left: 48px;
}

.why-web-p1 button a {
    text-decoration: none;
    color: rgb(13, 19, 33);
}

.why-web-p2 {
    width: 946px;
    height: 336px;
    margin-top: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    gap: 32px;
    padding-left: 48px;
    padding-top: 50px;
}

.why-web-p2 h4 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-right: 149px;
    padding-bottom: 16px;
}

.why-web-p2 p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    padding-right: 158px;
    padding-bottom: 32px;
}

.why-web-p2 button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    opacity: 0.7;
    margin-bottom: 50px;
}

.why-web-p2 button a {
    text-decoration: none;
    color: rgb(13, 19, 33);
}

/* inspiration container style */

.inspiration-container {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
}
.inspiration-content h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 24px;
}
.inspiration-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 48px;
}
.iframe {
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
    
}
.inspiration-container iframe {
    width: 1076px;
    height: 550px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* target container style */
.current-target-container {
    width: 1140px;
    height: 1500px;
    margin: 0 auto;
    margin-top: 151px;
}
.target-first-part {
    width: 1140px;
    height: 460px;
}
.skills {
    display: flex;
    gap: 24px;
}
.current-target-content h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 24px;
}
.current-target-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    padding: 0 144px 48px 144px;
}
.skills a {
    text-decoration: underline;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}
.html {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.html h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    padding-top: 24px;
    padding-bottom: 8px;
}
.html p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    padding-bottom: 15px;
}
.html-main {
    width: 284px;
    height: 219px;
    padding: 40px;
}
.css {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05)
}
.css h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    padding-top: 24px;
    padding-bottom: 8px;
}
.css p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    padding-bottom: 15px;
}
.css-main {
    width: 284px;
    height: 219px;
    padding: 40px;
}
.js {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.js h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    padding-top: 24px;
    padding-bottom: 8px;
}
.js p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    padding-bottom: 15px;
}
.js-main {
    width: 284px;
    height: 219px;
    padding: 40px;
}
.next-target-container {
    width: 1140px;
    height: 866px;
    margin-top: 111px;
}
.react {
    width: 1140px;
    height: 219px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255); 
    margin-bottom: 24px;
}
.node {
    width: 1140px;
    height: 219px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);    
    margin-bottom: 24px; 
}
.mongo {
    width: 1140px;
    height: 219px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255); 
    margin-bottom: 24px;
}
.next-target-content h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center; 
    padding-bottom: 24px;
}
.next-target-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 0px 144px 48px 144px;
}
.next-skills a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;   
}

.react-main {
    display: flex;
    width: 1060px;
    height: 139px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
}
.next-skills h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}
.next-skills p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.main-node {
    display: flex;
    width: 1060px;
    height: 139px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
}
.main-mongo {
    display: flex;
    width: 1060px;
    height: 139px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
}
.react-content {
    padding-left: 24px;

}
.node-content {
    padding-right: 140px;
}
.main-mongo img {
    margin-left: -25px;
}
.mongo-content {
    padding-left: 25px;
}

/* support container style */
.support-container {
    width: 1050px;
    height: 313px;
    background: url(../assets/handshake.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-position: center;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 49px;
    text-align: center;
    
}

.support-container h4 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0px;
    padding-top: 64px;
    padding-bottom: 16px;
}
.support-container p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 50px;
}
.support-container input {
    width: 548px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;

}
.support-container button {
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
}
.support-container a {
    text-decoration: none;
    color: rgb(13, 19, 33);
    text-align: center;
}